@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Eric Meyer's Reset */
html,
body,
div,
h1,
h2,
h3,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --base-unit: 16px; // Example baseline unit (1rem)

  /* Typography sizing */
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size: 1rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;

  /* Spacing system */
  --spacing-xs: 0.1rem;
  --spacing-s: 0.25rem;
  --spacing-m: 0.5rem;
  --spacing: 1rem;
  --spacing-l: 1.5rem;
  --spacing-xl: 1.75rem;

   /* Primary colors */
   --royal-blue: #00539C;
   --peach: #EEA47F;
 
   /* Color variants */
   --royal-blue-lightest: #3385D6; /* Lightest shade of Royal Blue */
   --royal-blue-light: #66A9F3; /* Light shade of Royal Blue */
   --royal-blue-dark: #003A70; /* Darker shade of Royal Blue */
   --royal-blue-darkest: #00224E; /* Darkest shade of Royal Blue */
 
   --peach-lightest: #F1C3A1; /* Lightest shade of Peach */
   --peach-light: #F6D5C6; /* Light shade of Peach */
   --peach-dark: #D68E6A; /* Darker shade of Peach */
   --peach-darkest: #B36845; /* Darkest shade of Peach */
 
   --color-accent-1: #FF5733; /* Accent color 1 */
   --color-accent-2: #6F63FF; /* Accent color 2 */
   --color-accent-3: #33FF88; /* Accent color 3 */

   /* Gray colors */
  --gray-lightest: #F8F8F8; /* Lightest gray */
  --gray-light: #E5E5E5; /* Light gray */
  --gray: #CCCCCC; /* Medium gray */
  --gray-dark: #999999; /* Dark gray */
  --gray-darkest: #333333; /* Darkest gray */
}


/* Box-Sizing Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove List Styles */
ul,
ol {
  list-style: none;
}

/* Remove Anchor Underlines */
a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;

  font-size: var(--font-size);
}
